@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  --bg-blue: rgb(40, 151, 255);
}

body {
  overflow-x: hidden;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
p,
ul,
ol,
li,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  letter-spacing: 0.15rem;
}

.header-bg-color {
  position: absolute;
  z-index: -1;
  background-color: var(--bg-blue);
  height: 100vh;
  width: 200vw;
  rotate: -15deg;
  translate: -40vw -40vh;
}

header {
  margin: 10vh 5vw 10vh 5vw;
  display: flex;
  align-items: center;
}

#header-john {
  width: 40vw;
  border-radius: 8px;
}

#header-john-cropped {
  display: none;
}

.header-image-container {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.header-image-caption {
  position: absolute;
  margin: 0;
  bottom: 0;
  font-weight: 300;
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.header-text-container {
  padding: 16px;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.header-header {
  font-weight: 300;
  font-size: 60px;
}

.header-info {
  font-size: 24px;
}

.header-social-media-link-container {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
}

main {
  margin: 20vh 5vw 20vh 5vw;
}

.main-header {
  font-weight: 300;
  font-size: 48px;
}

.work-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5vw;
}

.work-card {
  width: calc(10vw + 200px);
  border-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.work-card-image {
  width: inherit;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.work-card-content {
  padding: 16px;
}

.work-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-card-header-text {
  font-weight: 300;
}

footer {
  padding: 10vh 5vw 10vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-blue);
}

.footer-text-container {
  color: white;
}

.footer-header {
  font-size: 48px;
  font-weight: 300;
}

.footer-contact {
  display: flex;
  gap: 1rem;
}

.footer-social-media-link-container {
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

#footer-john {
  width: 40vw;
  border-radius: 8px;
}

#footer-john-cropped {
  display: none;
}

@media (max-width: 1280px) {
  .header-bg-color {
    translate: -40vw -80vh;
  }

  header {
    display: block;
    margin-top: 15vh;
  }

  .header-image-container {
    margin: -100px 20px 20px -20px;
    position: static;
    float: left;
  }

  .header-image-caption {
    left: 40vw;
    bottom: initial;
  }

  .header-social-media-link-container {
    display: none;
  }

  main {
    margin-top: 0;
  }

  #footer-john {
    display: none;
  }

  #footer-john-cropped {
    display: block;
    padding: 16px;
    width: 40vw;
    border-radius: 32px;
  }
}

@media (max-width: 620px) {
  header {
    display: block;
    margin: 5vh 5vw 5vh 5vw;
  }

  .header-image-container {
    margin: 0;
    position: relative;
    float: none;
  }

  #header-john {
    display: none;
  }

  #header-john-cropped {
    display: block;
    width: 90vw;
  }

  .header-image-caption {
    position: absolute;
    right: unset;
    left: unset;
    bottom: 16px;
    text-align: center;
  }

  .header-header {
    text-align: center;
  }

  .header-text-container {
    background-color: transparent;
    box-shadow: none;
  }

  .header-social-media-link-container {
    display: flex;
    justify-content: center;
  }

  .main-header {
    text-align: center;
  }

  footer {
    display: block;
    padding: 2.5vh 10vw 0 10vw;
    padding-bottom: 0;
  }

  .footer-header {
    text-align: center;
  }

  .footer-social-media-link-container {
    justify-content: center;
  }

  #email-icon,
  #phone-icon {
    display: none;
  }

  #footer-john-cropped {
    display: block;
    padding: 5vh 0 0 0;
    translate: -10vw;
    width: 100vw;
    border-radius: 0;
  }
}
